body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #1abc9c; 
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; 
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; 
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; 
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }

  #push {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #push td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #push tr:nth-child(even){background-color: #f2f2f2;}
  
  #push tr:hover {background-color: #ddd;}
  
  #push th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  .address{
    color: #000000;
  }

  .gfont{
    font-family: 'Permanent Marker', cursive;
  }

  .adresscolor{
    color: #1abc9c;
  }
  .fa-map-marker{
    color: #b91b1b;
  }
  .fa-clock-o{
    color: #08f36a;
  }
  .fa-envelope-o{
    color: #0ca5ec;
  }